.main_index {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans KR', sans-serif;
}

.main_index_top,
.main_index_bottom {
    width: 100%;
    height: 15%;
}

.main_index_middle {
    width: 100%;
    height: 70%;
}

.main_index_top {
    display: flex;
}

.top_left_div {
    width: 50%;
}

.top_left_menu {
    width: 55%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 2.7vw;
    font-weight: 900;
}

.top_left_menu a {
    background-color: #fff5e6;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    text-decoration: none;
    color: black;
}

.top_right_div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 2.6vw;
}

.bottom_right_div {
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.bottom_right_menu {
    width: 50%;
    margin-left: auto;
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 3.6vw;
    justify-content: space-evenly;
}

.bottom_right_menu a {
    margin: 2vw;
    padding: 0.73vw;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    background-color: skyblue;
    font-weight: 900;
}

.search_button {
    margin-left: 5%;
    color: white;
}

.search_input {
    width: 0%;
    padding: 3% 5%;
    border: solid 1px rgba(255,255,255,0.85);
    opacity: 0;
    transition: ease width 0.5s, ease opacity 0.5s;
}

.active {
    opacity: 1;
    width: 100%;
}